OPENROUTER_API_KEY =

INFOMANIAK_API_KEY =
KDRIVE_ID =
KDRIVE_VERIFIED_CV_DIRECTORY_ID =
KDRIVE_NOT_VERIFIED_DIRECOTRY_ID =
KDRIVE_JOB_OFFERS_DIRECTORY_ID =

DB_PASSWORD =
DB_HOST = localhost
DB_USER = root
DB_NAME =

MAIL_SMTP_HOST =
MAIL_SMTP_PORT =
MAIL_EMAIL =
MAIL_PASSWORD =

POLL_INTERVAL_SECONDS = 300
